<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    {{>header}}
    <canvas id="grid" width="800" height="500"></canvas>
    <p id="creator">Created by {{name}}</p>
</body>

</html>